
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #f3f4f6;
  background-image: url(img/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  position: relative;

}

.external-border {

    border: 2px solid rgb(193, 246, 255);
    border-radius: 15px;
    padding: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    width: 85vw;

    border-radius: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.17);
    border: 3px solid rgb(193, 246, 255);
    box-shadow: inset 0px 0px 3px rgb(193, 246, 255);
}

.text {
    height: 100px;
    text-align: center; 
    color: white;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;

}

/* INPUT */
.form-field {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px 14px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 12px;
  border: 1px solid rgb(193, 246, 255);

  transition: 0.2s;
}

.form-field:focus-within {
  box-shadow: 0 0 0 3px rgba(193, 246, 255, .15);
}

.input-icon {
  opacity: 0.8;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.form-field input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  /* color: white; */
}

/* .form-field input::placeholder {
     color: rgb(255, 255, 255); 
} 
*/

/* BOTÃO */
.login-button {
  margin-top: 6px;
  padding: 12px;

  border: none;
  border-radius: 12px;

  background: #f1d063;
  color: white;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.2s;
}

.login-button:hover {
  background: #ecc64a;
}

@media screen and (min-width: 468px) {
    .login-form {
        width: 85%;
    }
}