
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --cor01: rgb(177, 88, 66);
    --cor01-hover: rgb(226, 124, 99);
    --cor02: rgb(253, 233, 207);
    --cor02-hover: rgb(235, 208, 172);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cor01);
}

.main {
    width: 90vw;
    max-width: 300px;
    height: 500px;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
}

.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}

.login-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: center;
}

.login-title { 
    margin-bottom: 10px;
}

.login-span { 
    color: var(--cor01);
    font-weight: bold;
}

.login-paragraph {
    font-size: 0.8rem;  
}

.login-img {
    width: 100%;
    height: 100%;
    background-image: url(../images/leaves.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.form-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 3px;
    background-color: var(--cor01);
    border-radius: 5px;
}

.form-input span {
    color: white;
    padding: 3px;
}

.form-input input {
    width: 100%;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--cor02);
    outline: none;
    border: none;
}

.form-btn {
    display: block;
    width: 90%;
    margin: 20px auto 0px auto;
    background-color: var(--cor02);
    

    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: var(--cor01);  
    font-weight: bold;
    
}

.form-btn:hover {
    background-color: var(--cor02-hover);
}

.forgot-pass {
    text-decoration: none;
    color: var(--cor01);
    text-align: center;
    font-size: 0.8rem;
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
}


.forgot-pass:hover {
    text-decoration: underline;
}

@media screen and (min-width: 650px) {

    body {
        background-color: transparent;
        background-image: linear-gradient(to right, var(--cor01), var(--cor01-hover));
    }

    .main {
        flex-direction: row;
        max-width: 700px;
        width: 80vw;
        height: 400px;
    }

    .login-container {
        width: 70%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
        padding: 20px 40px;
    }

    .login-img {
        width: 30%;
        height: 100%;
        border-radius: 0px 10px 10px 0px;   
    }

}










