
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --cor01: rgb(177, 88, 66);
    --cor01-hover: rgb(226, 124, 99);
    --cor02: rgb(253, 233, 207);
    --cor02-hover: rgb(235, 208, 172);
    --cor03: rgb(100, 100, 100);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;

    background-image: radial-gradient(at 50% 50%,var(--cor01-hover), var(--cor01));
}

.main {
    width: 90vw;
    max-width: 400px;
    height: 600px;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
}

/*  LOGIN IMAGE TOP */

.login-img {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40%;

    background-image: url(../images/leaves.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 10px 10px 0px 0px;
}

/* HEADER LOGIN*/

.login-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}

.header-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.login-title {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.login-subtitle { 
    font-weight: lighter;
    top: 5px;
    left: 10px;
    color: var(--cor01);
    font-size: 1.2rem;
}

.login-paragraph {
    font-size: 0.9rem;
    color: var(--cor03);  
}

/* FORM */

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* INPUT ICONS */

.form-input span {
    color: var(--cor01);
    padding: 3px;  
}

/* INPUT LOGIN */

.form-input {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 0px 3px;
    background-color: transparent; 
    /* border: 1px solid var(--cor01); */
    border-radius: 5px;
}

.form-input input {
    width: 100%;
    height: 80%;
    font-size: 0.8rem;
    padding: 0px 10px;
    border-radius: 5px;
    
    /* background-color: var(--cor02); */
    box-shadow: 0px 0px 3px var(--cor01);
    outline: none;
    border: none;
}

.form-input input::placeholder {
    color: rgba(177, 88, 66, 0.4);
    font-weight: bold;
}

.form-input input:focus-within  {
    background-color: rgb(255, 255, 255);
    
}
.form-input:focus-within{
    background-color: var(--cor02);  
}

/* INPUT CHECKBOX / LINK - FORGOT PASSWORD */

.form-group2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
    padding: 15px 0px;  
}

.form-check {
    display: flex;
    align-items: center;
    gap: 3px; 
}

.remember-checkbox {
    accent-color: var(--cor01);
    width: 15px;
    height: 15px;
}

.form-check input {
    cursor: pointer;
}

.form-check label {
    padding: 5px;
    cursor: pointer; 
    font-size: 0.9rem;
    color: var(--cor03);
}

.form-link {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--cor01);
}

.form-link:hover {
    text-decoration: underline;
}

/* SUBMIT BUTTON */

.form-btn {
    display: block;
    width: 60%;
    height: 50px;
    margin: 15px auto 0px auto;
    background-color: var(--cor02);
    
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: var(--cor01);  
    font-weight: bold;
    
}

.form-btn:hover {
    background-color: var(--cor02-hover);
}

/* REGISTER - LINK */

.register-link {
    text-align: center;
}

.register-link a{
    padding: 10px;
}



@media screen and (min-width: 650px) {

    body {
        background-color: transparent;
        
    }

    .main {
        flex-direction: row;
        max-width: 700px;
        width: 80vw;
        height: 480px;
    }

    .login-container {
        height: 100%;
        width: 70%;
        border-radius: 10px 0px 0px 10px;
        padding: 20px 40px;
    }

    .login-img {
        width: 30%;
        height: 100%;
        border-radius: 0px 10px 10px 0px;   
    }

}










